@font-face
{
    src: url('../../../public/fuentes/Bangers-Regular.ttf');
    font-family:"bangers";
}

#pantalla
{
    width: 100%;
    min-height: 600px;
    background: url("../../../public/imagenes/4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#pantalla button
{
    width: 120px;
    height: 50px;
    top: 80%;
    left: 44%;
    color: white;
    background-color: red;
    box-shadow: 0px 0px 4px black ;
    position: absolute;
    font-family: "bangers";
    font-size: 20px;
    letter-spacing: 2px;
    transition: all 300ms;
}

#pantalla button:hover
{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.555);
}

#pantalla button:active
{
    box-shadow: 0px 0px 4px black  inset;
}